html, body {
	height: 100%;,
	margin: 0;
	padding: 0;
	}

body {
	width: 100%;
	height: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	background-image: url('../images/background-kh1.jpg');
	background-size:100% 100%;
	background-repeat: no-repeat;
	}

.btn-sm {
	margin-left: 4px;
}

.alertify {
	max-width: 450px;
}

.alertify-button-ok, .alertify-button-ok:hover, .alertify-button-ok:focus {
	background-color: #1d18c1;
	border: 1px solid #000000;
}

.alertify-inner {
	color: white;
	font-size: 18px;
	font-family: 'Bellefair', serif;
}

.alertify-dialog {
	background: dimgray;
}

h1, h3 {
	color: white;
	font-family: 'Bellefair', serif;
}

.container {
	margin-left: 20px;
}

.characters {
	height: 100px;
	background-color: dimgray;
	padding: 4px;
	margin: 5px;
}

img {
	vertical-align: middle;
	max-height: 150px;
	max-width: 100px;
}

.image {
	float: left;
	padding: 5px;
	margin: 12px;
	max-width: 100px;
	max-height: 150px;
	border-style: solid;
	border-width: medium;
	border-color: white;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}