html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	}

body {
	width: 100%;
	height: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	background-image: url('../images/background-kh1.jpg');
	background-size:100% 100%;
	background-repeat: no-repeat;
	}

h1, h3 {
	color: white;
	font-family: 'Bellefair', serif;
}

.container {
	margin-left: 20px;
}

img {
	vertical-align: middle;
	max-height: 150px;
}

.image {
	float: left;
	padding: 5px;
	margin: 12px;
	border-style: solid;
	border-width: medium;
	border-color: white;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}